<h1>Search For a Movie</h1>

<!-- upon submitting form, make a GET request to the /results page -->
<form action="/results" method="GET">
    <!-- pass the input into a "search" variable which will be passed through to /results with the submit button -->
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>